{% extends 'base.html.twig' %}

{% block title %}Donnateur index{% endblock %}

{% block body %}

<a href="/objet">objets/dons</a>

    <h1>Donnateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Mail</th>
                <th>Lieu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for donnateur in donnateurs %}
            <tr>
                <td>{{ donnateur.id }}</td>
                <td>{{ donnateur.nom }}</td>
                <td>{{ donnateur.mail }}</td>
                <td>{{ donnateur.lieu }}</td>
                <td>
                    <a href="{{ path('donnateur_show', {'id': donnateur.id}) }}">show</a>
                    <a href="{{ path('donnateur_edit', {'id': donnateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('donnateur_new') }}">Create new</a>
{% endblock %}
