{% extends 'base.html.twig' %}

{% block title %}Donnateur{% endblock %}

{% block body %}
    <h1>Donnateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ donnateur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ donnateur.nom }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ donnateur.mail }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ donnateur.lieu }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('donnateur_index') }}">back to list</a>

    <a href="{{ path('donnateur_edit', {'id': donnateur.id}) }}">edit</a>

    {{ include('donnateur/_delete_form.html.twig') }}
{% endblock %}
